.single-stroke {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.single-stroke img {
  position: absolute;
}

.single-stroke label {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  cursor: pointer;
}

.single-stroke input[type='file'] {
  display: none;
}

.single-stroke.image-loaded {
  padding: 0;
}

.single-stroke.image-loaded .drop-zone {
  display: none;
}

.single-stroke .drop-zone {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  border: 2px dashed #dadada;
}

.single-stroke.dragged-over .drop-zone {
  border: 2px solid #0073c0;
  opacity: 0.5;
}

.single-stroke .drop-zone h1,
.single-stroke .drop-zone p,
.single-stroke .drop-zone a {
  margin: 0;
}

.single-stroke a {
  z-index: 9999;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.single-stroke a:hover {
  text-decoration: underline;
}

.single-stroke header {
  z-index: 999;
  text-align: center;
  margin: 2em;
}

.single-stroke footer {
  opacity: 0.4;
  font-weight: bold;
}
