@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.single-stroke {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  font-family: 'Roboto', sans-serif;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

.single-stroke img {
  position: absolute;
}

.single-stroke label {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  cursor: pointer;
}

.single-stroke input[type='file'] {
  display: none;
}

.single-stroke.image-loaded {
  padding: 0;
}

.single-stroke.image-loaded .drop-zone {
  display: none;
}

.single-stroke .drop-zone {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  border: 2px dashed #dadada;
}

.single-stroke.dragged-over .drop-zone {
  border: 2px solid #0073c0;
  opacity: 0.5;
}

.single-stroke .drop-zone h1,
.single-stroke .drop-zone p {
  margin: 0;
}

.single-stroke p {
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.single-stroke a {
  z-index: 9999;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin: 0 0.2em;
}

.single-stroke header {
  z-index: 999;
  text-align: center;
  margin: 2em;
}

.single-stroke a {
  position: relative;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

.single-stroke a::after {
  position: absolute;
  z-index: -1;
  content: '';
  bottom: 0;
  left: -5%;
  background-color: rgb(241, 93, 93);
  height: 0%;
  width: 110%;

  transition: all 0.1s ease-in-out;
}

.single-stroke a:hover::after {
  height: 20%;
}

.single-stroke footer {
  opacity: 0.4;
  font-weight: bold;
}
