*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;

  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: auto;
}
